students {
    background: cyan;
    margin-left: 400px;
    margin-right: 400px;
}

student {
    display: block;
    border: 2px solid white;
    margin: 50px;
}

name, age, usn, branch, college, year {
    display: block;
}
